<h1>Add</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="post" novalidate>
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
        <label for="title">Name Course</label>
        <span class="helper-text" data-error="write name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{data.price}}">
        <label for="price">Price Course</label>
        <span class="helper-text" data-error="write price"></span>
    </div>

     <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
        <label for="img">Image url</label>
        <span class="helper-text" data-error="write img url"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Add course</button>
</form>